/*/////////////////////////////////////////
//
//   Common stuff
//
/////////////////////////////////////////*/

html, body {
      background: #333;
      color: rgba(255,255,255,0.35);
}

li.button, .add_song_button {
    border-bottom: 3px solid rgba(0,0,0,1);
}

li.button a, .add_song_button {
    background-color: rgba(0,0,0,0.5);
    color: rgba(255,255,255,0.35);
}

.my_scores_button, .final_scores_button, .previous_performance_button, .next_performance_button {
	border-bottom: 3px solid rgba(0,0,0,1);
	background-color: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.35);
}

.content {
	background: url(../img/diagonal_stripes_light.png);
}

.day_container.Tuesday, .table_singing_group, .color1 {
	background: rgba(20,0,0,0.95);
}

.day_container.Wednesday, .table_quarterfinals_score, .color2 {
	background: rgba(0,0,20,0.95);
}

.day_container.Thursday, .table_semifinals_score, .color3 {
	background: rgba(20,20,0,0.95);
}

.day_container.Friday, .table_finals_score, .color4 {
	background: rgba(0,20,20,0.95);
}

.day_container.Saturday, .table_overall_score, .color5 {
	background: rgba(20,0,20,0.95);
}

/*input[type=submit]:hover {
	background: #ccccff;
}*/

/*/////////////////////////////////////////
//
//   Menu bar
//
/////////////////////////////////////////*/

.menu_bar {
	background: #010101;
	box-shadow: 0px 0px 12px rgba(0,0,0,0.5);	
	color: rgba(255,255,255,0.35);
}

.menu_bar a {
	color: rgba(255,255,255,0.35);
}

.menu_item {
	border-right: #444 solid 1px;
}

/*//////////////////////////////////////////////////////////////////////////////////
//
//   SETTINGS.HTML
//
//////////////////////////////////////////////////////////////////////////////////*/

li.import_button.expanded {
	background: #666;
}

/*//////////////////////////////////////////////////////////////////////////////////
//
//   EVENT.HTML
//
//////////////////////////////////////////////////////////////////////////////////*/

.settings_content {
	background: rgba(0,0,10,0.90);	
}

li.performance_button.scored a {
	background: url(../img/checkmark.png), #666;
	color: #ddd;
	background-size: 16px 16px;
	background-repeat: no-repeat, no-repeat;
	background-position: calc(100% - 11px) center, center;
}

.disabled {
	background: rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.2);
}


/*//////////////////////////////////////////////////////////////////////////////////
//
//   PERFORMANCE.HTML - audit these class names
//
//////////////////////////////////////////////////////////////////////////////////*/


input, textarea {
	padding: 2px 2px 2px 5px;
	border: none;
	background: rgba(255,255,255,0.15);
	color: rgba(255,255,255,0.35);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(255,255,255,0.2);
}
/*input:-moz-placeholder {
    color: rgba(255,255,255,0.2);
}*/
/*input::-moz-placeholder {
    color: rgba(255,255,255,0.2);
}
input:-ms-input-placeholder {
    color: rgba(255,255,255,0.2);
}*/

.add_song_button {
	background-color: rgba(255,255,255,0.5);
}

.performance_info_container .add_song_button {
	background: rgba(0,0,0,0.2);
}


/***********************************************************/

.header {
	background: rgba(0,10,0,0.8);
	border-collapse: collapse;
	/*border-left: rgba(0,100,0,0.1);
	border-right: rgba(0,100,0,0.1);*/
}

thead a {
	color: rgba(255,255,255,0.35);
}

table {
	/*border:1px solid #000;*/
	border-collapse: collapse;
}

tr {
	/*border-top:1px solid #000;*/
}

tr + tr {
	border-top:1px solid rgba(0,0,0,0.1);
}

td {
	/*border-left:1px solid #000;*/
}

td + td {
	/*border-left:1px solid rgba(0,0,0,0.1);*/
}
