/*/////////////////////////////////////////
//
//   Common stuff
//
/////////////////////////////////////////*/


@font-face {
  font-family: 'Carter One';
  font-style: normal;
  font-weight: 400;
  src: local('Carter One'), local('CarterOne'), url(../fonts/CarterOne.woff) format('woff');
}

@font-face {
  font-family: 'Flamenco';
  font-style: normal;
  font-weight: 400;
  src: local('Flamenco'), local('Flamenco-Regular'), url(../fonts/Flamenco-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/SourceSansPro-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/SourceSansPro-Semibold.ttf) format('truetype');
}

@font-face {
  font-family: 'Patua One';
  font-style: normal;
  font-weight: 400;
  src: local('Patua One'), local('PatuaOne-Regular'), url(../fonts/PatuaOne-Regular.ttf) format('truetype');
}


* {
	-webkit-box-sizing: border-box;
	/*font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;*/
	/*font-family: 'Lora', serif;*/
}

html, body {
      width: 100%;
      height: 100%;
      margin:0;
      padding:0;
      font-family: 'Source Sans Pro', sans-serif;
}

html {
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
}

input[type=text], input[type=number], textarea {
	font-family: 'Source Sans Pro', sans-serif;
	/*font-weight: 300;*/
	font-weight: 400;
	padding-left: 5px;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0); 
	-webkit-focus-ring-color: transparent;
	outline: none !important;
}

a:focus {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
	-webkit-tap-highlight-color: transparent;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0); 
	-webkit-focus-ring-color: transparent;
	outline: none !important;
}

/*.page {
      min-height: 100%;
      width: 100%;
}*/

.heading {
	/*font-family: 'Carter One', cursive;*/
	font-family: 'Patua One', sans-serif;
}

.subheading {
	/*font-family: 'Flamenco', cursive;*/
	font-family: 'Patua One', sans-serif;
}

.warning_bar.hidden,
li.button span span.hidden,
li.button span.hidden,
.mailto_link.hidden,
.hidden {
	display: none;
}

li.button span span {
	display:inline;
}

#loading-overlay {
  /*display: flex;*/
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  /*flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;*/
  /*font-size: 3em;*/
}

/*.platform-ios #loading-overlay{
  z-index: 200;
}*/

/*#loading-spinner {
	display: inline-block;
	text-align: center;
    vertical-align: bottom;
}*/

.content {
	padding-top: 50px;
	/*background: url(../img/diagonal_stripes_light.png);*/
	background: url(../img/triangles.png);
	background-repeat: repeat;
	min-height:100%;
	position: relative;
}


.card {
	max-width: 90%;
	margin: 10px 23px 38px;
}

.day_container {
	width: 100%;
	padding: 1px;
}


.card .event_name {
	margin: 0px;
}

.date {
	/*margin-left: -6px;*/
	margin-top: 15px;
	font-size: 1.3em;
}

li.button, .add_song_button {
    list-style: none;
    max-width: 550px;
    width: 100%;
    margin: 20px 0px;
    text-align: center;
}

li.button a,
.add_song_button {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-decoration: none;
    padding: 9px 14px;
    border-radius: 3px;
}

li.button span {
    display: block;
    padding: 3px 0px;
    text-align: left;
}

ul.list_of_buttons {
	list-style: none;
	padding:0;
}

.song-autocomplete {
    max-height: 60%;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
    /* add padding to account for vertical scrollbar */
    padding-right: 20px;
  }

/*input[type=submit]:hover {
	
}*/

input[type=text],  textarea {
	display: block;
	font-size: 1.8em;
	width: 77%;
}

/*#song_1_text_box {
	border: none;
    color: transparent;
    text-shadow: 0 0 0 black;
}

#song_1_text_box:focus{
    outline: none;
}*/



/*/////////////////////////////////////////
//
//   Menu bar
//
/////////////////////////////////////////*/

.menu_bar {
	position: fixed;

	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 50px; /* should match .content margin-top */
	z-index: 100;
}

.warning_bar {
  position: fixed;
  display: block;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  z-index: 100;
}

.warning_bar .heading {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
  	font-size: 1.5em;
  	width: 100%;
}

.menu_bar .heading {
	line-height: 1em;
}

.up_level_text.title.heading {
  white-space: nowrap;
}

.gear_menu {
	position: absolute;
	right: 0px;
	top: 0px;
	margin: 5px;
}

.event_button {
	font-size: 1.25em;
	border-radius: 4px;
}

.menu_item {
	display: inline-block;
	margin-top: 8px;
	text-align: center;
	height: 36px;
	padding-top: 7px;
}

.arrow {
	font-size: 0.9em;
	padding-right: 5px;
}

.dark .menu_item:last-child, .light .menu_item:last-child {
	border-right: none;
}

.up_level_button {
	width: 33%;
}

.scores_button {
	/*width: 23%;*/
	width: 33.3%;
}

.settings_button {
	/*width: 24%;*/
	width: 33.3%;
}

.time {
	width: 20%;
}

.content .toggle_theme_button {
	padding: 20px;
	text-align: center;
	font-size: 1.2em;
}

/*//////////////////////////////////////////////////////////////////////////////////
//
//   SETTINGS.HTML
//
//////////////////////////////////////////////////////////////////////////////////*/


ul.list_of_settings {
	
}

li.setting_button {
	border-radius: 4px;
}

li.button .single_number_toggle, li.button .bhs_score_toggle {
	display:inline;
}

.selected {
	display:inline;
	border: 1px solid #333;
}

li.set_singing_order_button {
	display: none;
}

/*li.import_button.expanded {
	height: 384px;
}*/

/*li.clear_data_button.expanded {
	height: 200px;
}*/

li.clear_data_button .delete_button_warning,
li.send_data_button .send_data_button_warning,
li.import_button .import_instructions,
.scoring_method_explanation,
.dark_color_explanation {
	text-align: left;
	margin: 10px 0;
}

.send_data_button_warning {
	overflow-wrap: break-word;
}

li.import_button .import_data_submit_button,
li.send_data_button.button .mailto_link {
	/*background-color: rgba(100,255,100,0.6);*/
	width: 30%;
	padding: 10px;
	margin: 22px auto;
	border-radius:3px;
}

li.send_data_button .mailto_link {
	
	width: 30%;
	padding: 10px;
	margin: 22px auto;
}

li.button .mailto_link span {
	text-align: center;
}

/*li.send_data_button {
	background: #fff;
}*/

 /*{
	background-color: rgba(255,100,100,1);
}*/

li.import_button .undo_import_button {
	background-color: rgba(100,100,255,0.6);
	width: 30%;
	padding: 10px;
	margin: 22px auto;
}

li.clear_data_button .delete_button {
	/*background-color: rgba(255,100,100,1);*/
	width: 50%;
	padding: 10px;
	margin: 22px auto;
	border-radius:3px;
}

li.choose_scoring_method_button .set_scoring_method_button, .set_dark_colors_button {
	background-color: rgba(100,100,255,0.6);
	width: 70%;
	padding: 10px;
	margin: 22px auto;
	border-radius:3px;
}

#import_data_textarea {
	font-size: 0.9em;
	width: 100%;	
}

.settings_heading {
	margin: 40px 0 20px;;
	font-size: 1.3em;
}

/*//////////////////////////////////////////////////////////////////////////////////
//
//   EVENT.HTML
//
//////////////////////////////////////////////////////////////////////////////////*/

.about_container, .event_container, .performance_container, .settings_container, .scores_container {
	width: 90%;
}

.about_container, .event_container, .performance_container, .settings_container, .scores_container {
	margin: 10px auto;
}

.settings_content, .singing_order_content {
	
}

.event_content,
.performance_content,
.singing_order_content,
.settings_content,
.performance_content,
.settings_content, 
.about_content {
	width: 100%;
	/*margin-top: -10px;*/
	/*padding-bottom: 1px;*/
	position: absolute;
	bottom: 0px;
	top: 50px;
	overflow: scroll;
}

ul.list_of_performances {

}

li.performance_button, li.mic_tester_button {
	/*font-weight: bold;*/
	border-radius: 4px;
}

li.performance_button.scored a {
	background-size: 16px 16px;
	background-repeat: no-repeat, no-repeat;
	background-position: calc(100% - 11px) center, center;

}

li.performance_button.scored.showing_details a {
	background-position: calc(100% - 11px) 13px, center;
}

li.performance_button.button.scored a{

}

.event_container .event_info_container {
	font-size: 1.5em;
	padding: 10px 8px 30px;
	line-height: 1.5;
}

.singing_order_content .event_info_container {
	font-size: 1.5em;
	padding: 10px 8px 0px;
	line-height: 1.5;
}

/* stage time test */
.performance_button .singing_group_members, .performance_button .singing_group_sources, .stage_time {
	margin: 4px 8px 4px;
}

.event_name {
	text-align: center;
	margin: 10px;	
}

.event_time {
	text-align: center;
}

.scores_buttons, .performance_navigation_buttons {
	width: 100%;
	max-width: 550px;
	margin: 15px, 0;
}

.my_scores_button,
.final_scores_button,
.previous_performance_button,
.next_performance_button {
	padding: 20px;
	display: inline-block;
	width: 47%;
	text-align: center;
	font-size: 1.4em;
	border-radius:3px;
}

.final_scores_button, .next_performance_button {
	margin-left: 2%;
}

.my_scores_button, .previous_performance_button {
	margin-right: 2%;
}

.disabled {
	border-bottom: none;
}

.set_singing_order_button {
	
}

.mic_tester_button {

}

.update_app_message {
  font-size: 2em;
  /* text-align: center; */
  margin: 24px 10px;
}

/*//////////////////////////////////////////////////////////////////////////////////
//
//   PERFORMANCE.HTML - audit these class names
//
//////////////////////////////////////////////////////////////////////////////////*/


.performance_info_container {

}

.quartet_sources, .quartet_members {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.2em;
	padding: 7px 0 7px 2px;
	line-height: 1.5em;
}

.performance_content input, .performance_content textarea {
	width: 100%;
	/*font-size: 2em;*/
	font-size: 1.8em;
	margin-top: 8px;
	margin-bottom: 8px;
}

.back_to_event_link {
	padding: 0px 10px;
}

/*.performance_content, .settings_content {
	padding-top: 50px;
}*/

.performance_header {

}

.singing_order_button, .singing_order_number, .singing_group_name, .new_performance_button {
	display: inline-block;
	font-size: 1.4em;
}

.add_song_button {
	display: inline-block;
	font-size: 1.4em;
}

.performance_info_container .add_song_button {
	margin: 0px 0px 9px;
}

.performance_header .singing_order_number, .performance_header .singing_group_name {
	font-size: 1.6em;
	display: inline;
}

.singing_group_name {
	margin: 4px 8px 4px;
}

.singing_group_form {
	font-family: 'Source Sans Pro', sans-serif;
}

.songs_form .song1, .songs_form .song2, .scores_form {
	margin: 16px 0;
}

#fred_score_text_box {
	margin: 0px;
	width: 33%;
}

input.bhs_score {
	width: 29%;
	margin-top: 12px;
	margin-bottom: 24px;
}

.right {
	float: right;
	margin-left: 5%;
}

.left {
	float: left;
	margin-right: 6%;
}

.notes_form {
	
}

/***********************************************************/

.section_heading_previous_performances {
	display: none;
	font-size: 1.8em;
	margin: 34px 0px 6px 4px;
}

ul.previous_performances_by_this_singing_group {
	list-style: none;
	padding-left: 4px;
	font-size: 1.4em;
}

li.previous_performance {
	padding: 16px 0px;
}

.previous_performance .event_name {
	text-align: left;
	margin: 0px;
	font-weight: 600;
}

.previous_performance_detail {
	margin: 8px 0;
}

.previous_performance.my_score {

}

.previous_performance .songs {
	list-style: none;
	padding:0;
}

.previous_performance.my_notes {

}

/***********************************************************/


.performance_navigation_buttons {
	margin: 20px 0px 18px;
}

.previous_performance_button {

}

.next_performance_button {

}


/*singing_order.html*/
/*
input[type=text] .performer_form_textbox {
	width: 80%;
}*/


/*singing_order.html*/

/*singing_order_form input {
	padding: 10px 0;
}*/


.performer_label, .performer_form_textbox {
	font-size: 2.0em;
}

.performer_box_and_label input[type=text] {
	display: inline;
	width: 77%;
	/*font-size: 2.0em;*/
	font-size: 1.6em;
}

.performer_label {
	display: inline-block;
	width: 15%;
	text-align: center;
}

ul.list_of_performers {
	list-style: none;
	padding: 0;
}

.performer_box_and_label {
	width: 100%;
	margin: 15px 0px;
	/*font-weight: 300;*/
	font-weight: 400;
}

.singing_order_submit_button {
	width: 95%;
	font-size: 1.8em;
	padding: 10px;
}

.singing_order_submit_button_wrapper {
	width: 100%;
	text-align: center;
}

.buffer_space_for_keyboard {
	min-height: 400px;
}


/* Scores.html */
table {
	font-size: 1.1em;
	table-layout: fixed;
}

.score_column, .chorus_score_column, .cbqc_score_column {
	/*width: 30px;*/
	text-align: center;
	padding-left: 2px;
	padding-right: 2px;
}

tr {
	min-height: 100px;
}

.header {
	
}

.table_singing_group, .table_chorus_singing_group, .table_cbqc_singing_group {
	padding: 9px 5px;
	/*width: 150px;*/
}

thead a {

}

.setting_button {
	font-size: 1.25em;
	text-align: left;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all {
	max-height: 40% !important;
	overflow-y: scroll !important;
	width: 90% !important;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content.ui-corner-all li a{
	font-size: 1.3em;
	padding: 4px 5px;
}

.about_text, .about_content ul {
	margin: 15px 0;
  	font-size: 1.25em;
  	line-height: 1.4;
}

.about_content .heading {
	font-size: 1.4em;
	margin: 26px 0;
}

.about_content ul {
	padding-left: 48px;
}
.about_content li {
	margin: 2px 0;
}

.sarah_image {
  	width: 34%;
  	border-radius: 50%;
  	/*float: left;*/
  	max-width: 200px;
  	/*margin: 0 5% 3% 0px;*/
    box-shadow: rgba(0,0,0,0.2) 0px 2px 15px;
    display: block;
    margin: 10% auto;
    border: solid 4px rgba(255,255,255,0.2);

}
}